
<div class="container">
	<br>
	<div class="row">
		<div class="text-center">
			<div class="wrap">

<div id="tinderslide">
    <ul>
        <%= render @users %>
    </ul>
</div>

<div class="actions">
        <a href="#" class="dislike"><i ></i></a>
        <a href="#" class="like"><i ></i></a>
    </div>


</div>
</div>
</div>
</div>

<script type="text/javascript">
	$("#tinderslide > ul li").tsort({attr: "id"});
</script>